---
import Layout from '../layouts/Layout.astro';
import {Image} from 'astro:assets';
import hero from '../assets/hero.jpg';
import marketing from '../assets/marketing.jpg';
import design from '../assets/design.jpg';
import dev from '../assets/dev.jpg';
import seo from '../assets/seo.jpg';
import promo from '../assets/promo.jpg'

import {projectData} from '../data/ProjectData';
import CardProject from "../components/CardProject.astro";
import Commerce from "./commerce.astro";
import CardComment from "../components/CardComment.astro";

import {clientComments} from '../data/ClientComments';
import Hero from "../components/homepage/Hero.astro";
import DetailContent from "../components/homepage/DetailContent.astro";
import SkillContent from "../components/homepage/SkillContent.astro";
---

<Layout>
  <Hero />
  <DetailContent />
  <SkillContent />



  <!-- Vitrine projet -->
  <div class="container mx-auto my-52">
   <!-- todo: ajouter lien vers la page du projet-->
   <!-- todo: ajouter categorie (vitrine, marchand, etc)-->
    <h2 class="text-center text-2xl mb-12 font-bold">Nos Derniers Projets Web Réalisés</h2>
    <div class="grid grid-cols-4 gap-3">
      {projectData.map(project => (
        <CardProject
            title={project.title}
            img={project.image}
            describ={project.describ}
            categorie={project.categorie}
            link="/"
            />)
      )}
    </div>
    <div class="text-end">
      <a href="/achievement" class="btn btn-primary">Voir nos créations</a>
    </div>
  </div>

  <!-- promo -->
  <div class="container mx-auto my-52">
    <div class="flex items-center gap-x-14">
      <div class="flex-1">
        <h2 class="text-2xl mb-4 font-bold text-center">Développez votre entreprise avec le digital</h2>
        <h3 class="font-semibold text-xl mb-1">Gagnez en visibilité</h3>
        <p class="text-justify mb-5">L'agence <strong class="text-blue-500">Korweb</strong>, experte en développement
          web, vous propose un accompagnement sur-mesure
          pour améliorer votre présence en ligne. Nous créons des sites web performants et optimisés pour accroître
          votre visibilité digitale.</p>
        <h3 class="font-semibold text-xl mb-1">Optimisez vos processus</h3>
        <p class="mb-10">Notre expertise en développement d'applications sur-mesure vous permet de digitaliser vos
          processus métiers.
          Nous concevons des solutions techniques adaptées pour améliorer votre efficacité et votre productivité.</p>
        <div class="text-end">
          <a href="/analyse" class="btn btn-primary">En savoir +</a>
        </div>
      </div>
      <div class="flex-1">
        <Image src={promo} alt="promo" class="rounded-lg shadow-2xl"/>
      </div>
    </div>
  </div>

  <!-- AVIS CLIENT -->
  <div class="bg-gray-200 my-52 py-20">
    <h2 class="text-center font-bold text-2xl uppercase mb-10">L'avis de nos clients</h2>
    <div class="grid grid-cols-4 gap-6 container mx-auto">
      {
        clientComments.map(comment =>
          <CardComment
            firstname={comment.firstname}
            lastname={comment.lastname}
            message={comment.message}
            note={comment.note}
          />)
      }
    </div>

  </div>
  <!--  Avis client-->
  <!--  ajouter une galery avec avis client-->

  <div class="my-52 container mx-auto">
    <h2 class="text-2xl uppercase font-bold text-center mb-8"><strong class="text-blue-500 font-bold ">Korweb</strong>
      l'Agence digital qui vous conseille dans le Var et en région PACA</h2>
    <div class="flex gap-x-14 items-center">
      <div class="flex-1 flex flex-col items-center">
        <h3 class="mb-2">Nous développons votre projet web selon vos besoins :</h3>
        <ul class="list-disc pl-6 space-y-1">
          <li>Augmenter votre visibilité en ligne</li>
          <li>Optimiser vos processus métiers</li>
          <li>Digitaliser votre activité</li>
          <li>Moderniser votre image de marque</li>
        </ul>
      </div>
      <p class="flex-1 text-justify">Basée à Fréjus dans le Var, l'équipe <strong>Korweb</strong> vous accompagne dans votre
        transformation digitale. Notre expertise en développement web et applicatif vous garantit des solutions
        techniques adaptées à vos objectifs.</p>
    </div>
  </div>
</Layout>
