---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import hero from '../images/hero.jpg';
import marketing from '../images/marketing.jpg';
import design from '../images/design.jpg';
import dev from '../images/dev.jpg';
import seo from '../images/seo.jpg';

import {projectData} from '../data/ProjectData';
import CardProject from "../components/CardProject.astro";


---

<Layout>
  <!--<div class="hero bg-gray-50 min-h-screen">-->
  <!--  &lt;!&ndash;TODO: fix image qui dépasse en mode mobile&ndash;&gt;-->
  <!--  <div class="container mx-auto flex flex-col md:flex-row justify-center items-center gap-x-52 ">-->
  <!--    <div>-->
  <!--      <h2 class="text-5xl font-bold text-center mb-2">Korweb</h1>-->
  <!--      <p class="text-xl text-center">Agence Digital Web</p>-->
  <!--      &lt;!&ndash;TODO: revoir le texte&ndash;&gt;-->
  <!--      <p class="py-6 text-center">-->
  <!--        Créons ensemble votre succès digital-->
  <!--      </p>-->
  <!--      <div class="text-center">-->
  <!--        <a href="/contact" class="btn btn-primary">Contactez-nous</a>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <Image src={hero} alt="hero" class="rounded-lg shadow-2xl w-32"/>-->
  <!--  </div>-->
  <!--</div>-->

  <div class="container mx-auto flex justify-between my-52 items-center">
    <div class="flex-1 text-center">
      <h1 class="text-2xl mb-2">Agence Web <strong class="font-bold text-blue-500">Korweb</strong></h1>
        <h2 class="italic">Experts en Solutions Web</h2>
    </div>
    <div class="flex-1 text-justify space-y-3">
      <p>Implantée à <strong>Fréjus</strong> dans le Var (PACA), l'agence <strong>Korweb</strong> conçoit des solutions web personnalisées pour développer votre présence en ligne et optimiser vos processus métier.</p>
      <p>Notre expertise s'étend de la création de <strong>sites vitrines professionnels</strong>, <strong>solution e-commerce</strong>, au développement de <strong>logiciel sur mesure</strong> afin de répondre au <strong>besoin spécifique</strong> de votre entreprise</p>
      <p>Chaque projet bénéficie d'un <strong>accompagnement personnalisé</strong>, depuis la conception jusqu'à la mise en ligne, avec un engagement constant sur la <strong>qualité</strong> et le <strong>professionnalisme</strong>.</p>
    </div>
  </div>

  <!--todo: add link-->
  <div class="grid grid-cols-4 gap-6 container mx-auto">
    <div class="card bg-base-100 w-86 shadow-md hover:shadow-xl">
      <figure>
        <Image src={marketing} alt="marketing" />
      </figure>
      <div class="card-body">
        <h2 class="card-title mx-auto">Marketing Digital</h2>
        <p>Stratégie de communication digitale personnalisée : analyse de marché, identité visuelle et plan d'action pour accroître votre visibilité en ligne.</p>
        <div class="card-actions justify-end">
          <a class="btn btn-primary">En Savoir Plus</a>
        </div>
      </div>
    </div>
      <!--TODO: add link-->
    <div class="card bg-base-100 w-86 shadow-md hover:shadow-xl">
      <figure>
        <Image src={design} alt="marketing" />
      </figure>
      <div class="card-body">
        <h2 class="card-title mx-auto">Design</h2>
        <p>Création d'identité visuelle unique : logo, charte graphique et supports de communication cohérents pour renforcer votre image de marque.</p>
        <div class="card-actions justify-end">
          <a class="btn btn-primary" href="/">En Savoir Plus</a>
        </div>
      </div>
    </div>
    <!--todo: add link-->
    <div class="card bg-base-100 w-86 shadow-md hover:shadow-xl">
      <figure>
        <Image src={dev} alt="marketing" />
      </figure>
      <div class="card-body">
        <h2 class="card-title mx-auto">Développement Web</h2>
        <p>Solutions web sur-mesure : sites vitrines, e-commerce et applications adaptés à vos objectifs avec une gestion de projet maîtrisée.</p>
        <div class="card-actions justify-end">
          <a class="btn btn-primary" href="/">En Savoir Plus</a>
        </div>
      </div>
    </div>
    <!--todo: add link-->
    <div class="card bg-base-100 w-86 shadow-md hover:shadow-xl">
      <figure>
        <Image src={seo} alt="marketing" />
      </figure>
      <div class="card-body">
        <h2 class="card-title mx-auto">Référencement SEO</h2>
        <p>Stratégie SEO performante : optimisation technique, content marketing et suivi analytique pour améliorer votre positionnement.</p>
        <div class="card-actions justify-end">
          <a class="btn btn-primary" href="/">En Savoir Plus</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container mx-auto my-52">
   <!-- todo: ajouter lien vers la page du projet-->
   <!-- todo: ajouter categorie (vitrine, marchand, etc)-->
    <h2 class="text-center text-2xl mb-12 font-bold">Nos Derniers Projets Web Réalisés</h2>
    <div class="grid grid-cols-4 gap-3">
      {projectData.map(project => (
        <CardProject
            title={project.title}
            img={project.image}
            describ={project.describ}
            categorie={project.categorie}
            link="/"
            />)
      )}
    </div>
    <div class="text-end">
      <a href="/achievement" class="btn btn-primary">Voir nos créations</a>
    </div>
  </div>


  <div class="">
    <div class="">
      <h2>Développez votre business,
        et gagnez en visibilité</h2>
      <p>L’agence GEFIGRAM, spécialiste en communication visuelle et digitale depuis 2001, vous propose un accompagnement global et des solutions entièrement sur-mesure.

        Nous sommes à vos côtés pour cibler les supports de communication adaptés et vous accompagner dans la conception et la mise en place d’une stratégie de communication efficace.</p>
    </div>
    <a href="/">En savoir +</a>
  </div>
  <div class="">
    <h2>Une agence qui s'adapte à votre secteur d'activité</h2>
  </div>
<div class="">
<!--  ajouter une image-->
  <div class="">
    <h2>La clé d'une identité visuelle réussie pour votre marque</h2>
    <p>L'identitité visuelle est un élément essentiel pour toute maque qui souhaite se démarquer et laisser une impression durable sur son public. Une identitié visuelle bien conçue et ..</p>
    <a href="/">En savoir plus</a>
  </div>
</div>
  <div class="">
  <!--  Avis client-->
  <!--  ajouter une galery avec avis client-->
    <div class="">
      <div class="">
      <!--  loho entreprise-->
      <!--  autheur-->
      <!--  etoile-->
      <!--  commentaire user-->
      </div>
    </div>
  </div>
  <div class="">
    <h2>Gefigram l'Agence de communication 360° qui vous conseille dans le Var et en région PACA</h2>
    <div class="">
    <p>Vous recherchez une agence de communication pour :

      Réfléchir au développement de votre entreprise ?
      Bâtir une stratégie de communication durable et efficace ?
      Redéfinir votre positionnement sur le marché et vos valeurs ?
      Clarifier vos objectifs et les traduire sur vos supports de communication ?</p>
      <p>Gefigram est une agence de communication spécialisée dans le conseil stratégique et la création de nouveaux médias : Internet, solutions mobiles, supports papier / print, et supports web…

        Située dans le Var en région PACA, toute l’équipe de l’agence de communication vous accompagne pour affirmer l’identité de votre marque en apportant la meilleure réponse éditoriale, graphique ou digitale à votre stratégie de communication</p>
    </div>
  </div>
</Layout>
